.Post-thumbnail {
    width: 46%;
    border-bottom: 5px solid #009688;
    box-shadow: 0 2px 3px 1px rgba(38, 50, 56, 0.2);
    border-radius: 10px;
    padding: 15px 15px 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transform: translateX(2000px) scale(0);
    animation: showPost 1s forwards;
}

.Post-thumbnail__date {
    color: #bdbdbd;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0;
    display: flex;
}

.Post-thumbnail__date span {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    color: #263238;
}

.Post-thumbnail__date time {
    margin-left: 10px;
}

.Post-thumbnail__body {
    flex-grow: 1;
    font-size: 16px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Post-thumbnail__body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Post-thumbnail__footer {
    text-align: right;
}

@keyframes showPost {
    75% {
        transform: translateX(0) scale(0.5);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}