.Post-form {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Post-form label {
    margin-bottom: 15px;
}

.field {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #009688;
    margin-bottom: 20px;
    transition: 0.5s;
}

.field:focus {
    box-shadow: 0 0 2px 1px rgba(0, 150, 136, 0.5);
    border-radius: 5px;
}

.field::placeholder {
    color: #bdbdbd;
}

.field-desc {
    height: 50px;
    resize: none;
}

.field-desc:focus {
    height: 200px;
}

.Post-form__btn-send {
    margin-left: auto;
}